<div class="page-header">
    <div class="container">
        <h1>Student</h1>
    </div>
</div>
<div class="container">
    <div class="row end-xs">
        <div class="col-xs-12 mt-1">
            <input type="text" class="search-input" placeholder="Search Stduents" [(ngModel)]="filterString" (keyup)="fileterStudent()">
        </div>
    </div>
</div>
<div class="container">
    <div class="ml-1  mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource" class="">
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
              <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> LastName </th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
              </ng-container>
            <ng-container matColumnDef="dateOfBirth">
                <th mat-header-cell *matHeaderCellDef> Date Of Birth </th>
                <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date:'dd-MM-yyyy'}} </td>
              </ng-container>
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
              <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef> Mobile </th>
                <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
              </ng-container>
              <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Gender </th>
                <td mat-cell *matCellDef="let element"> {{element.gender.description}} </td>
              </ng-container>
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                  <a [routerLink]="['/students',element.id]">
                    <mat-icon color="primary">edit</mat-icon>
                  </a>
                </td>
              </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
          </mat-paginator>

    </div>
</div>